@import 'bootstrap/dist/css/bootstrap';

.create-btn {
  padding-top: 7px;
  padding-left: 62px; 
}
a:link, a:visited
{
  color: white !important;
}
.fixed-top {
  height:70px;
}
.actions {
    padding-left: 15px;
}

